$blue: #3bbfce;
$width: 100% / 3;
$margin: 16px;

.content-navigation {
  width: $width;
  border-color: $blue;
  color:
    darken($blue, 9%);
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}
